@model IEnumerable<E_Com_Project.Models.Product>



@{
    ViewData["Title"] = "Index";
}

<h2 class="text-center">My Products</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr class="table-dark">
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QteStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
                
            </th>
            <th></th>
        </tr>


    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-light">
                <td>
                    <img src="~/Image/@item.Image" class="image-list">
                </td> 

                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prix)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QteStock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreation)
                </td>
                <td>
                    
                   @*  @Html.DisplayFor(modelItem => item.CategoryId) *@
                    @Html.DisplayFor(modelItem => item.Category.Nom)
                </td>
                <td>
                
                    <a asp-action="Edit" asp-route-id="@item.Id" class="text-dark">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="text-dark">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="text-dark">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
